/* single article */
.articleWrapper {
    width: 800px;
    margin: 0 auto;
  }
  
  .descrWrapper {
    padding: 20px 0;
    padding-left: 40px;
  }
  
  .descrWrapper > p {
    padding: 10px 0;
  }