<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/main.min.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <ul class="menu">
        <li class="item">
          <a href="#" class="link">name</a>
        </li>
        <li class="item">
          <a href="#" class="link">name</a>
        </li>
        <li class="item">
          <a href="#" class="link">name</a>
        </li>
      </ul>
    </header>
    <main>
      <form class="form">
        <label class="label">
          <span> Date </span>
          <input class="input" type="date" name="date" />
        </label>
        <label class="label">
          <span> Title </span>
          <input class="input" type="text" name="title" />
        </label>
        <label class="label">
          <span> Description </span>
          <input class="input" type="text" name="descr" />
        </label>
        <div class="labelWrapper">
          <label class="label checkbox">
            <span> quickly/important </span>
            <input
              class="input"
              type="checkbox"
              name="importance status"
              checked
              value="quickly/important"
            />
          </label>
          <label class="label checkbox">
            <span> quickly/NOTimportant </span>
            <input
              class="input"
              type="checkbox"
              name="importance status"
              value="quickly/NOTimportant"
            />
          </label>
          <label class="label checkbox">
            <span> NOTquickly/important </span>
            <input
              class="input"
              type="checkbox"
              name="importance status"
              value="NOTquickly/important"
            />
          </label>
          <label class="label checkbox">
            <span> NOTquickly/NOTimportant </span>
            <input
              class="input"
              type="checkbox"
              name="importance status"
              value="NOTquickly/NOTimportant"
            />
          </label>
        </div>
        <div class="labelWrapper">
          <label class="label radio">
            <span> Status close </span>
            <input
              class="input"
              type="radio"
              name="work-status"
              value="close"
            />
          </label>
          <label class="label radio">
            <span> Status open </span>
            <input class="input" type="radio" name="work-status" value="open" />
          </label>
        </div>
        <select name="priority" value="media">
          <option value="low">Low</option>
          <option value="media">Media</option>
          <option value="high">High</option>
        </select>
      </form>
      <ul class="filterList">
        <li class="filterItem">
          <button class="filterBtn" name="all">All</button>
        </li>
        <li class="filterItem">
          <button class="filterBtn" name="low">Low</button>
        </li>
        <li class="filterItem">
          <button class="filterBtn" name="media">Media</button>
        </li>
        <li class="filterItem">
          <button class="filterBtn" name="high">High</button>
        </li>
      </ul>
      <ul class="toDoList">
        <li class="toDoItem">
          <p class="date">2021-11-02</p>
          <h3 class="title">Lorem ipsum dolor sit amet.</h3>

          <p class="descr">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Temporibus, id!
          </p>
          <p class="status"></p>
          <button class="toDoBtn">X</button>
        </li>
      </ul>
    </main>
    <footer></footer>
  </body>
</html>
