.langList {
  display: flex;
  padding: 10px 0;
  margin: 0 auto;
}

.langItem:not(:last-child) {
  margin-right: 10px;
}
.langItem:first-child {
  margin-left: auto;
}
.langItem:last-child {
  margin-right: auto;
}

.langBtn {
    background-color: rgb(48, 82, 54);
}
