@import "src/shared/styles/base";

.section {
    margin-bottom: 32px;

    @include tablet {
        margin-bottom: 15px;
    }
    // @media screen and (max-width: $tablet) {
    //     margin-bottom: 15px;
    // }

    &-title {
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 1.25px;
        color: $primary-color;
        margin-bottom: 42px;
        text-transform: uppercase;
    }
}


